<!DOCTYPE html>
<html>
<head>
    <title>Items</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Items</h1>
        <a href="{% url 'item_create' %}" class="btn btn-success mb-4">Create Item</a>
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
